body{
    background-color: #dec66f ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

    


h1 {
    text-align: center;
    font-size: 36px;
   display: inline-block;
    width: 500px;
    height: 50px;
   background-color: white;
   color: #dec66f;
   box-shadow: 5px 5px 0px grey;
}

#headline{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 100px;
    
}

hr{
    
    position: absolute;

    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
  bottom: 100px;
  width: 80%;
  
  height: 10px;
  background-color: white;
    
}

img {
    width: 400px;
    height: 300px;
}

ul{
  text-align: center;
    padding-top: 40px;
}
li{
    
    list-style-type: none;
    display: inline-block;
    margin: 20px;
    
    vertical-align: top;

}

.dropdown{
    box-shadow: 10px 10px 20px black;
}

p {
    margin: 0px;
    font-size: 20px;
    padding: 40px 20px;
    
}

.dropdown:hover  .dropdown-content{
    display: block;
   
}
.dropdown:hover{
    transition: transform .2s;
    transform: scale(1.1);
    box-shadow: 10px 10px 20px black;
    
}


.dropdown-content{
    width: 400px;
    height: 200px;
    background-color: white;
    display: none;
    transition: transform .2s;
}



